asgiref==3.11.1
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.7
et_xmlfile==2.0.0
inflection==0.5.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
PyJWT==2.12.1
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
uritemplate==4.2.0
